
.hoverdiv{

position:absolute;
top: 200;
left: 200;
border: 1px solid #B5E2FE; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font:normal 14px Serif;
line-height:18px;
z-index:100;
background-color: white;
width: auto;
visibility: hidden;
clip: rect(0 auto auto 0);
border-width: medium;
border-style: groove;
border-color: black;
display: block;

}

#hovermenu{
	
cursor: pointer;
position:absolute;
top: 200;
left: 200;
border: 1px solid #B5E2FE; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font:normal 14px Serif;
line-height:18px;
background-color: white;
width: auto;
visibility: hidden;
clip: rect(0 auto auto 0);
border-width: medium;
border-style: groove;
border-color: black;
display: block;

}

.hoverdiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB;
padding: 2px 0;
text-decoration: none;
font-weight: bold;
color: black;
}


.hoverdiv div{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB;
padding: 2px 0;
text-decoration: none;
font-weight: bold;
color: black;
}