		.groupbox {
			border: 1px solid #336699;
			margin-top: 30px;
		}
		
		.groupbox > label {
			position:relative;
			top:-15px;
			background:white;
			left:5px;
		}
		
		.groupbox > div {
			margin-top: -5px;
			margin-bottom: 5px;
			margin-left: 5px;
		}