{!
    /**
     *    Template for the about tab in the preferences menu
     *
     */

!}
<!-- aboutlibx.tmpl -->
<!-- Icon -->
<div style="float:right">
    <img src="{+ libx.edition.options.logo +}"/>
    <h2>{+libx.edition.name.long+}</h2>
    <!-- Adapted -->
    <h3> Adapted By </h3>
    <p>{+libx.edition.name.adaptedby+}</p>
        
</div>

<!-- Edition Name -->
<h1 style="color:#800000;font-weight:bold;">LibX</h1>
<p> LibX Version: {+ "LibX Version Goes HERE!" +} </p>
<p> Build Date: {+ libx.buildDate +}</p>

<!-- Authors -->
<h3>Authors</h3>
    <p> Annette Bailey </p>
    <p> Godmar Back </p>
    <p> Michael Doyle </p>
    <p> Tobias Wieschnowsky </p>




<!-- Home Page -->
<center>
<a style="float:center" href="http://www.libx.org">LibX Home Page</a>
</center>
