{!     
    /** 
     *  Group Template
     *    Groups all children into a single group box 
     */
!}
<!-- group.tmpl -->
<div class="groupbox">
    <label>{+ prefsBundle.getProperty ( data._idstr + "-group-label", data._name +}</label>
    <for each="child" in="data._children">
        {+ process ( child ) +}
    </for>
</div>