{!
    /**
     *    Template for the object cache tab in the preferences menu
     *
     */
    var cachedObjects = [];
	var filepaths = libx.io.find(/fileinfo.json/);
	for ( var i = 0; i < filepaths.length; i++ ) {
		/* get the metadata */
		var metadata = libx.utils.json.parse(libx.io.getFileText(filepaths[i]));
		
		/* Calculate the name of the file, this is used to sort */
		var urlparts = metadata.originURL.split ( '/' );
		var name = urlparts[urlparts.length - 1].length > 0 
			? urlparts[urlparts.length - 1] : urlparts[urlparts.length - 2];
		cachedObjects.push ( {
			url : metadata.originURL,
			chromeurl : metadata.chromeURL,
			filename : filepaths[i],
			lastmod : metadata.lastModified,
			mimetype : metadata.mimeType,
			name : name,
		} );
	}
	cachedObjects.sort( 
		function ( a, b ) { 
			return a.name > b.name; 
		} );
!}

<script type="text/javascript">
<![CDATA[
	function purge ( filename ) {
		libx.io.removeFile ( filename );
	}
	
	function purgeAll () { 
		$(".purgebutton").click();
		
	}
	
	function updateAll () {
		libx.cache.defaultObjectCache.updateRequests();
		refresh();
	}
	
	function refresh() {
		$("#objectcache-content").replaceWith( process ( null, "objectcache" ) );
	}

]]>
</script>
<div id="objectcache-content" style="font-size:.8em;">
<div class="ui-component-content">
<tr style="text-align:center">
	<td width="25%">
		<a href="#" onclick="libx.cache.defaultMemoryCache.flush();">Flush Global Memory Cache</a>
	</td>
	<td width="25%">
		<a href="#" onclick="libx.cache.defaultObjectCache.updateRequests();">Update Now!</a>
	</td>
	<td width="25%">
		<a href="#" onclick="purgeAll();">Purge All</a>
	</td>
	<td width="25%">
		<a href="#" onclick="refresh();">Refresh</a>
	</td>
</tr>
</div>
<br/>
{! var idcount = 42 !}
<div class="accordion" style="overflow:scroll;height:400px">
	<for each="obj" in="cachedObjects">
		<div class="ui-dialog-titlebar">
			<span>
				<if test="obj.lastmod != null">
	        		<label style="float:right">{+obj.lastmod+}</label>
	        	</if>
				<label>{+obj.url+}</label>
			</span>
			{! var id = "objcacheelem" + idcount++; !}
			<div class="ui-component-content">
				
				<a href="{+ obj.chromeurl +}" style="">(Open Cached Copy)</a>
				<a href="#" class="purgebutton" style="float:right" onclick="purge('{+obj.filename+}');$(this).parent().parent().remove()"> (Purge) </a>
				
				
				<p> Mime-Type: {+ obj.mimetype +} </p>	
			</div>
		</div>
		
	</for>
</div>
</div>

<script type="text/javascript">
<![CDATA[
/** This needs to go after the above html */
jQuery(document).ready(function(){
	$('.accordion > div > span').click(function() {
		$(this).next().toggle();
	}).next().hide();
});
]]>
</script>