body {
    font-family: Tahoma, Nimbus Sans L;
    font-size: 12px;
    margin: 0;
    padding: 5px;
    float: left; /* resizes body element for Firefox */
    background-color: white;
}

a {
    color: #666;
    text-decoration: underline;
}

a:hover {
    color: black;
}

#edition-search-input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.results {
    border: 1px solid #666;
    font-size: 11px;
    padding: 0px;
    display: none;
    cursor: default;
    overflow: auto;
}

.results div {
    border-top: 1px solid #666;
    padding: 3px;
}

.results div:first-child {
    border-top: 0;
    padding: 3px;
}

.results .selected {
    background-color: #666;
    color: #fff;
}

.results .unselected {
    background-color: #fff;
    color: #666;
}

#edition-search-details {
    font-size: 12px;
    padding: 20px;
    margin-top: 25px;
}

#edition-search-details tr > td:first-child {
    font-weight: bold;
    vertical-align: top;
    padding-right: 20px;
}

#edition-search-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#full-catalogs {
    min-width: 100%;
}

#tabs {
    border-spacing: 0;
    width: 600px;
}

#content-pane {
    border-left: 2px solid #ddd;
    padding: 10px;
}

#nav-pane {
    width: 100px;
    padding: 0;
}

#tab-pane a {
    padding: 8px 8px 3px 0;
    text-align: right;
    white-space: nowrap;
    z-index: 0;
    position: relative;
    color: black;
    display: block;
    text-decoration: none;
    color: #666;
    margin-right: -2px;
}

#tab-pane a:hover {
    color: black;
    /*border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    z-index: 1;
    color: white;*/
}

#tabs #tab-pane .selected {
    border-bottom: 2px solid black;
    color: black;
    padding-bottom: 1px;
}

.edition-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#error-view {
    display: none;
    min-width: 300px;
}

#change-edition-view {
    min-height: 350px;
    width: 600px;
    display: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

#edition-name-header {
    font-size: 11px;
    padding: 0 5px;
    float: right;
    margin-bottom: -9px;
    margin-right: 8px;
    font-weight: bold;
    background-color: white;
    display: block;
}

#pageactions-view .page-action {
    padding: 10px 5px;
    border-top: 1px dotted #888;
}

#pageactions-view .page-action:first-child {
    border-top: none;
    padding-top: 0;
}

#content-pane > div {
    width: 100%;
}

#search-view {
    width: 100%;
}

#search-view form > div:first-child {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
}

#search-view input[type="reset"], input[type="submit"], input[type="button"] {
    float: right;
    padding: 5px 15px;
    margin-top: 3px;
}

#full-search-fields {
    border-collapse: collapse;
}

#full-search-fields td, th {
    padding: 0;
    white-space: nowrap;
}

#full-search-fields td:nth-child(1) {
    padding-right: 10px;
}

#full-search-fields td:nth-child(2) {
    width: 100%;
}

#full-search-fields td:nth-child(2) input {
    margin: 1px;
    width: 100%;
}

#full-search-fields td:nth-child(3) {
    padding-left: 10px;
}

#links {
    font-size: 15px;
}

#about-view {
    text-align: center;
}

#about-view h1 {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

#about-view h2{
    margin: 0;
    font-weight: normal;
    font-size: 15px;
}

#about-view h3 {
    margin: 0;
    font-weight: normal;
    font-style: italic;
}

.about-footer {
    margin-top: 25px;
}

.about-footer div {
    font-size: 11px;
}

#about-translator {
    display: none;
}

#switch-simple-view {
    font-size: 10px;
    float: right;
    background-color: white;
    display: block;
}

#edition-search-load {
    font-size: 14px;
    font-weight: bold;
}

#change-edition-cancel {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
}

#simple-view {
    width: 175px;
}

#simple-view input {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#switch-view-full {
    font-size: 10px;
    float: right;
    padding: 3px;
}

.search-field-remove {
    padding: 0 0 0 5px;
}

.proxy-template {
    display: none;
    padding-bottom: 10px;
}

.proxy-notify-big, .proxy-notify-small {
    background-color: #ed8;
    padding: 5px;
    line-height: 1.8em;
    display: none;
    text-align: center;
}

.proxy-notify-small {
    font-size: 0.9em;
}

.search-add, .search-close {
    width: 16px;
    height: 16px;
}

.search-add {
    background-image:url("find.png")
}

.search-add.enabled:hover {
    background-position: 0 -16px;
}

.search-add.disabled {
    background-position: 0 -32px;
}

.search-close {
    margin-left: 3px;
    background-image:url("close.png")
}

.search-close:hover {
    background-position: -16px 0;
}

.search-close.disabled {
    background-image:none;
}

/* circling icon when a search is underway. */
.searchLoading {
    background:window url("indicator.gif") no-repeat scroll right center !important;
    color: black;
}

