{libxtemplate}

{!     

/** 
 *  Builtin Template
 *  Specifies the location for built-in preference locales
 */
     
var divId = "builtin-" + data._id;
     
var templateProcessedQueue = new libx.utils.collections.DelayedActivityQueue();
templateScope.postProcessingActions.push(templateProcessedQueue);

var bundleReadyActivity = {
    onready: function (stringBundle) {
        var tmplData = {
            getMessage: function (node) {
                return stringBundle.getProperty(node._idstr.replace(data._idstr + ".", ""));
            }
        };
        var p = process(data, null, tmplData);
        $("#" + divId).replaceWith(p.html);
        p.doPostInsertionProcessing();
    }
};
templateProcessedQueue.scheduleLast(bundleReadyActivity);
     
libx.locale.getBundle( {
    defaultLocale: "en_US",
    url: libx.utils.getBootstrapURL("preferences/builtin/locales/$locale$/" + data._name + ".json"),
    success: function ( stringBundle ) {
        bundleReadyActivity.markReady(stringBundle);
    }
} );
     
!}

<!--builtin.tmpl-->
<div id="{+divId+}"></div>
