{!     
    /** Default Category Template */
!}
<!-- category.tmpl -->
<div class="groupbox">
    <label>~category.tmpl label~</label>
    <for each="child" in="data._children">
        <div>
            {P child, null, templateScope.data P}
        </div>
    </for>
</div>