{!
	/*
	 *	This is the developer tab, it will only be shown if
	 *	libx.developer is true ( in browserprefs )
	 *	This is set through about:config on Firefox
	 *
	 *	This currently only holds information about the objectcache, will
	 *	be updated as needed
	 */

!}

{DefaultLocale=en_US}

<div style="font-size:.8em;" id="developer-tabs">
	<ul>
		<li>
			<a href="#objectcache-tab">
				<span>{L:template "cache_control" L}</span>
			</a>
		</li>
		<li>
			<a href="#libapps-tab">
				<span>{L:template "loaded_libapps" L}</span>
			</a>
		</li>
	</ul>
	<div id="objectcache-tab">
		{P null, "objectcache" P}    
	</div>
	<div id="libapps-tab">
		{P null, "libapps" P}
	</div>
</div>    
<script type="text/javascript">
	/* Initialize the tabs */     
	$('#developer-tabs').tabs();
</script> 


