{libxtemplate}

{!     
    /** 
     *  Group Template
     *    Groups all children into a single group box 
     */
     
!}
<!-- group.tmpl -->
<div class="groupbox">
    <for each="child" in="data._children">
        {P child, null, templateScope.data P}
    </for>
</div>
