{!
    
    /* Update context menu on changes */
    $("#context-prefs .preference-checkbox").live("click", function () {
        /* use this string to access index in libx.ui.contextMenu.items */
        var idstr = libx.preferences.getByID(this.name)._idstr;
        var items = libx.ui.contextMenu.items;
        for (var i = 0; i < items.length; i++) {
            var item = items[i];
            if ("libx.prefs.contextmenu." + item.item.prefkey == idstr) {
                libx.ui.contextMenu.update(item.id, {
                    visible: this.checked
                });
                break;
            }
        }
    } );
    
    /* required functions for the tree template */
    var tmplData = {
        nodeLocale: function (node) {
            return node._name;
        },
        leafLocale: function (node) {
            var name = node._name;
            if (name in libx.edition.searchoptions)
                return libx.edition.searchoptions[name];
            return libx.locale.defaultStringBundle.getProperty(name + "_contextmenu");
        }
    };
    
!}

<div id="context-prefs">
    {P libx.prefs.contextmenu, null, tmplData P}
</div>