{!
    /**
     * libx.prefs template
     *    This is the top level template that produces tabs for each category, as well as an about tab
     *
     * Expected input: 
     *        data: an object representing a category object
     * Requires: 
     *    libx.getLocalizedString
    */
    
    /** Generates a unique identifier for each tab, based on the child's _id attributeb */
    function tabID ( id ) {
        return id + '-tab';
    } 
!}

{DefaultLocale=en_US}
{BeginLocale=en_US}
    {
        "browser_tabname" :     { "message" : "Browser" },
        "browser_tooltip" :     { "message" : "Preferences related to the browser interface" },
        "contextmenu_tabname" : { "message" : "Context Menu" },
        "contextmenu_tooltip" : { "message" : "Change which search options appear when right-clicking on a page" },
        "libapps_tabname" :     { "message" : "Libapps" },
        "libapps_tooltip" :     { "message" : "Add/remove packages and configure current libapps" },
        "developer_tabname" :   { "message" : "Developer" },
        "developer_tooltip" :   { "message" : "Cache and libapp information" },
        "about_tabname" :       { "message" : "About" },
        "about_tooltip" :       { "message" : "See the authors of LibX" }
    }
{EndLocale}

<div id="libx-prefs-tabs">
    <ul>
    	<!-- Switched to specifically loading tabs to force an ordering -->
        <if test="libx.prefs.browser != null">
	        <li title="{L 'browser_tooltip' L}">
	            <a href="#browser-maintab">
	                <span>{L "browser_tabname" L}</span>
	            </a>
	        </li>
        </if>
        <if test="libx.prefs.contextmenu != null">
	        <li title="{L 'contextmenu_tooltip' L}">
	            <a href="#contextmenu-maintab">
	                <span>{L "contextmenu_tabname" L}</span>
	            </a>
	        </li>
        </if>
        <li title="{L 'libapps_tooltip' L}">
            <a href="#libapps-maintab">
                <span>{L "libapps_tabname" L}</span>
            </a>
        </li>
        <if test="(true || libx.utils.browserprefs.getBoolPref('libx.developer'))">
	        <li title="{L 'developer_tooltip' L}">
	            <a href="#developer-maintab">
	                <span>{L "developer_tabname" L}</span>
	            </a>
	        </li>
        </if>
        <li title="{L 'about_tooltip' L}">
            <a href="#about-libx-maintab">
                <span>{L "about_tabname" L}</span>
            </a>
        </li>
    </ul>
    <!-- Order down here doesnt matter -->
    <if test="libx.prefs.browser != null">
	    <div id="browser-maintab">
	        {P libx.prefs.browser, "builtin" P}
	    </div>
	</if>
    <if test="libx.prefs.contextmenu != null">
	    <div id="contextmenu-maintab">
	        {P libx.prefs.contextmenu, "libx.prefs.contextmenu" P}
	    </div>
	</if>
    <div id="libapps-maintab">
        {P null, "libx.prefs.libapps" P}
    </div>
    <if test="(true || libx.utils.browserprefs.getBoolPref('libx.developer'))">
	    <div id="developer-maintab">
	        {P null, "developer" P}
	    </div>
    </if>
    <div id="about-libx-maintab">
        {P null, "aboutlibx" P}
    </div>
    
	<script type="text/javascript">
		/* Initialize the tabs */
	    $('#libx-prefs-tabs').tabs();
	</script>
</div>
