{libxtemplate}

{DefaultLocale=en_US}

<!-- preference.tmpl -->
<if test="data._name != '_enabled'">
    <div>
    <if test="data._type == 'boolean'">
        <input type="checkbox" name="{+data._id+}" class="preference-checkbox" <if test="data._value">checked="checked"</if> />
        <label>{+templateScope.data.getMessage(data)+}</label>
    </if>
    <if test="data._type == 'choice'">
        <label>{+templateScope.data.getMessage(data)+}</label>
        <div style="padding-left: 20px;">
            <for each="item" in="data._items">
                <input type="radio" class="preference-radio" name="{+ data._id +}" value="{+ item._value +}" <if test="item._selected">checked="checked"</if> />
                <label>{+templateScope.data.getMessage(item)+}</label>
                <br/>
            </for>
        </div>
    </if>
    <if test="data._type == 'string'">
        <label>{+templateScope.data.getMessage(data)+}</label>
        <div><input type="text" class="preference-text" name="{+ data._id +}" value="{+ data._value +}" style="width: 50em;" /></div>
    </if>
    </div>
</if>
