Options +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /libx2/libx2-git/src/autoedition/
  RewriteRule ^(findbyip/.*)$ editionip.py/$1
  RewriteRule ^(findedition/.*)$ editiondata.py/$1
</IfModule>

<Files *.py>
    SetHandler wsgi-script
</Files>

