<!-- UI element to implement both intermediate nodes in a preference tree
     as well as a single 'pref' element intermediate nodes have a _layout attribute,
     whereas leaf nodes have a _type
-->
 
<ng-switch on="pref._layout">
  <div ng-switch-when="group" class="groupbox">
    <ng-include src="preftmpl" ng-repeat="pref in pref._children"></ng-include>
  </div>

  <div ng-switch-when="tree" class="groupbox">
	Tree Preference Layout not yet implemented.
  </div>

  <ng-switch ng-switch-default on="pref._type" ng-hide="pref._name=='_enabled'">
  <div ng-switch-when="boolean">
        <input type="checkbox" name="{{pref._id}}" ng-model="pref._value" />
        <label>{{locale(pref._idstr,pref._name)}}</label>
    </div>
    <div ng-switch-when="string">
        <label>{{locale(pref._idstr, pref._name)}}</label>
        <div>
            <input type="text" name="{{pref._id}}" ng-model="pref._value" style="width: 50em;" />
        </div>
    </div>
    <div ng-switch-when="choice">
        <label>{{locale(pref._idstr, pref._name)}}</label>
        <div style="padding-left: 20px;">
            <form>
                <div ng-repeat="item in pref._items">
                    <input type="radio" name="{{pref._id}}" value="{{item._value}}" ng-model="pref._value" />
                    <label>{{locale(item._idstr, item._name)}}</label>
                    <br/>
                </div>
            </form>
        </div>
    </div>
  </ng-switch>
</ng-switch>
