
.vsplit {
	height: 200px;
	width: 500px;
	border: 5px solid #aaa;
}
.vsplit div {
	overflow: auto;
}
.vsplitbar {
	width: 5px;
	background: #cab;
}

ul {
    list-style-type: none;
}

.right-panel {
  margin-left: 25px !important;
  padding: 10px !important;
}

.info-panel {
    margin-left: 20px !important;
    min-width:400px;
    display:none;
}

.close-info-panel {
    margin-left: 80px !important;
}

.close-info-panel a {
    color: #0B559B !important;
    font-size: 0.8em;
}

.close-info-panel a:hover {
    color: red;
}

.marginLeft40 {
  margin-left: 40px !important;
}


.info-panel-heading {
    font-weight:normal;
    font-size:0.9em;
    padding: .6em .6em .4em !important;
}

.info-panel-prefs {
    font-size:0.8em;
    font-weight:normal;
    padding: 0.7em 0.3em 0.0em;
    display:none;
}

.info-panel-prefs-sub-div {
    padding: 12px !important;
}

.entry-label-name {
    color:grey;
    font-weight:normal;
    padding-right:0.2em !important;
}

.entry-text {
    font-size:0.9em;
    font-weight:normal;
    padding-right:.4em;
}

.entry-text a:hover {
    color: red;
    text-decoration:underline;
}

.toggle-info-panel {
    font-size:0.7em;
    padding:0.5em 0.7em;
    padding-left:0.5em !important;
    padding-bottom:1em !important;
}

.toggle-info-panel-link {
  color:#0B559B !important;
  margin:0 0.4em !important;
  cursor:pointer !important;
}

.info-panel-codebody{
    font-weight:normal;
    font-size:0.8em;
    color:black;
    display:none;
}

.info-panel-codebody-sub-div {
    padding: 12px !important;
    width:600px;
    word-wrap:break-word;
    max-height:500px;
    overflow:auto;
} 

.info-panel-details {
    font-weight:normal;
    font-size:0.8em;
    display:none;
}

.info-panel-params {
    font-weight:normal;
    font-size:0.8em;
}

.param-name {
    font-size:1.0em;
    font-weight:normal;
    padding-right:.4em;
}

.param-type {
    color:green;
}

.param-value a:hover {
    color:red;
    text-decoration:underline;
}

.param-value {
    line-height: 150%;
    padding: 17px !important;
}

.param-desc {
    color:black;
    word-wrap:break-word;
}

.param-desc a:hover {
    color: red;
    text-decoration:underline;
}

ul .info-panel-params-list li {
    line-height: 150%;
}

.info-panel-params-list-item {
    padding-bottom: 10px !important;
    margin-right: 15px !important;
}

.bottom-border {
    border-bottom: 1px dotted #666666;
}

.info-panel-sub-section-fieldset {
    margin: 12px !important;
}

.info-panel-sub-section-legend {
    font-weight: bold;
    font-size: small;
    color: #0B559B !important;
    margin-left: 15px !important;
}

li .err {
    width: 16px;
    height: 11px;
    padding: 0;
    margin: 0;
    float: left;  
    background: url(iconErr16x16.gif) 0 0px;

}

.err-text {
    color:red;
}

.libapps-banner {
    margin-bottom: 30px;
}

.libapps-banner-header {
   font-size: x-large;
   color: #0B559B;
}

/* fixes bug that prevents components from working inside tab
http://docs.jquery.com/UI/Tabs#...my_slider.2C_Google_Map.2C_sIFR_etc._not_work_when_placed_in_a_hidden_.28inactive.29_tab.3F */
.ui-tabs .ui-tabs-hide { display: block !important; position: absolute; left: -10000px; }
