<html ng-csp> 
    <!-- see http://stackoverflow.com/questions/11336969/using-angularjs-in-a-google-chrome-extension -->
<head>
    <title> LibX Preferences </title>
    <link type="text/css" href="css/pepper-grinder/jquery-ui-1.8.23.custom.css" rel="stylesheet" />	
    <link type="text/css" href="prefs.css" rel="stylesheet" />	
    <link type="text/css" href="checktree/checktree.css" rel="stylesheet" />
    <link rel="stylesheet" href="jquery-tooltip/jquery.tooltip.css" />
    <script src="../getlibx.js"></script>
    <script src="../popup/summonapi.js" type="text/javascript"></script>
    <script type="text/javascript" src="../bootstrapped/scripts/jquery-latest.js"></script>
    <script src="checktree/jquery.checktree.js" type="text/javascript"></script>

    <script src="jquery-tooltip/lib/jquery.bgiframe.js" type="text/javascript"></script>
    <script src="jquery-tooltip/jquery.tooltip.js" type="text/javascript"></script>

    <script type="text/javascript" src="js/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="js/angular-1.0.1.js" type="text/javascript"></script>
    <script src="js/prefs-ang.js" type="text/javascript"></script>
    <script src="js/contextmenutree.js" type="text/javascript"></script>
    <script src="js/libapptree.js" type="text/javascript"></script>
  
</head>

<body id="body">
    <div id="libx-prefs-tabs" ng-controller="PrefsController"> 
        <ul>
            <li title="{{locale('prefs_browser_tooltip')}}">
	            <a href="#browser-maintab">
                    <span>{{locale('prefs_browser_tabname')}}</span>
	            </a>
	        </li>
        
            <li title="{{locale('prefs_contextmenu_tooltip')}}">
	            <a href="#contextmenu-maintab">
                    <span>{{locale('prefs_contextmenu_tabname')}}</span>
	            </a>
	        </li>
        
            <li title="{{locale('prefs_libapps_tooltip')}}">
                <a href="#libapps-maintab">
                    <span>{{locale('prefs_libapps_tabname')}}</span>
                </a>
            </li>
            <li title="{{locale('prefs_about_tooltip')}}">
                <a href="#about-libx-maintab">
                    <span>{{locale('prefs_about_tabname')}}</span>
                </a>
            </li>
        </ul>

        <div id="browser-maintab"> 
           <div>
               <ng-include src="preftmpl" ng-repeat="pref in libx.prefs.browser._children" />
           </div>
        </div>
    
	    <div id="contextmenu-maintab">
            <div id="context-prefs"></div>
            <p style="margin-top: 1em;">
            <button id="context-prefs-reset">{{locale('prefs_contextmenu_reset')}}</button>
            </p>
	    </div>
	
        <div id="libapps-maintab">
            <div id="libapps-tmpl" ng-controller="TreeController">
                <form id="libapps-subscribe-form" style="margin-bottom: 20px;">
                    {{locale('prefs_libapps_package_add')}}
                    <input style="width: 500px;"></input><br/>
                    <div class="tooltip" title="{{locale('prefs_libapps_package_tooltip')}}">{{locale('prefs_libapps_package_whatis')}}</div><br/>
                    <div class="tooltip" title="{{locale('prefs_libapps_package_unsubscribe_tooltip')}}">{{locale('prefs_libapps_package_unsubscribe')}}</div>
                </form>
                <div id="libapps-banner" class="libapps-banner">
                  <p><span class="libapps-banner-header">{{locale('prefs_libapps_banner')}}</span></p>
                  <ul>
                    <li>- <span class="libapps-banner-sub-header">{{locale('prefs_libapps_banner_msg1')}}</span></li>
                    <li>- <span class="libapps-banner-sub-header">{{locale('prefs_libapps_banner_msg2')}}</span></li>
                  </ul>
                </div>

                <ul class="checktree"> 
                     <ng-include src="checktreenodetmpl"  ng-repeat="entry in model.children" />
                </ul>
            </div>
        </div>

        <div id="about-libx-maintab">
            <div style="float:right">
                <img ng-src="{{libx.edition.options.logo}}"/>
                <h2>{{libx.edition.name.long}}</h2>
                <!-- Adapted -->
                <h3>{{locale('prefs_about_adaptedby')}}</h3>
                <p>{{libx.edition.name.adaptedby}}</p>
                    
            </div>

            <!-- Edition Name -->
            <h1 style="color:#800000;font-weight:bold;">LibX</h1>
            <p>{{locale('prefs_about_libxversion')}} {{libx.version}}</p>
            <p>{{locale('prefs_about_builddate')}} {{libx.buildDate}}</p>

            <!-- Authors -->
            <h3>{{locale('prefs_about_authors')}}</h3>
            <p> Annette Bailey </p>
            <p> Godmar Back </p>
            <p> Brian Nicholson </p>
            <p> Michael Doyle </p>
            <p> Tobias Wieschnowsky </p>

            <!-- Home Page -->
            <center>
                <a style="float:center" href="http://www.libx.org">{{locale('prefs_about_homepage')}}</a>
            </center>
        </div>
    </div>
</body>
</html>
