{!     
    /** Default Category Template */
!}
<!-- category.tmpl -->
<div>
    <label>{L data._idstr + "-description" L}</label>
    <for each="child" in="data._children">
        <div>
            {P child P}
        </div>
    </for>
</div>