{!
	/*
	 *	This is the developer tab, it will only be shown if
	 *	libx.developer is true ( in browserprefs )
	 *	This is set through about:config on Firefox
	 *
	 *	This currently only holds information about the objectcache, will
	 *	be updated as needed
	 */

!}

<div>
	<ul class="tabs-ul">
		<li>
			<a href="#objectcache-tab">
				<span>Cache Control</span>
			</a>
		</li>
		<li>
			<a href="#libapps-tab">
				<span>Loaded Libapps</span>
			</a>
		</li>
	</ul>
	<div id="objectcache-tab">
		{P null, "objectcache" P}    
	</div>
	<div id="libapps-tab">
		{P null, "libapps" P}
	</div>
</div>           


