{!
	/*
	 *	This is the developer tab, it will only be shown if
	 *	libx.developer is true ( in browserprefs )
	 *	This is set through about:config on Firefox
	 *
	 *	This currently only holds information about the objectcache, will
	 *	be updated as needed
	 */

!}


{P null, "objectcache" P}
