{!
    /**
     *    Template for the object cache tab in the preferences menu
     *
     */
    var cachedObjects = [];
	var filepaths = libx.io.find(/fileinfo.json/);
	for ( var i = 0; i < filepaths.length; i++ ) {
		/* get the metadata */
		var metadata = libx.utils.json.parse(libx.io.getFileText(filepaths[i]));
		cachedObjects.push ( {
			url : metadata.originURL,
			chromeurl : metadata.chromeURL,
			filename : filepaths[i],
			lastmod : metadata.lastModified,
			mimetype : metadata.mimeType
		} );
	}
	
	
!}

<script type="text/javascript">
<![CDATA[
	function purge ( filename ) {
		libx.io.removeFile ( filename );
	    // XXX remove this entry from the page.	
	}
	
	function purgeAll () { 
		$(".purge-button").click();
        // XXX refresh the page or remove all entries
	}
	
	function updateAll () {
		libx.cache.defaultObjectCache.updateRequests();
	}
]]>
</script>

<button onclick="libx.cache.defaultMemoryCache.flush();">Flush Global Memory Cache</button>
<button onclick="libx.cache.defaultObjectCache.updateRequests();">Update Now!</button>
<button onclick="purgeAll();">Purge All</button>
<for each="obj" in="cachedObjects">
	<div class="groupbox">
		<label> {+ obj.url +} <a href="{+ obj.chromeurl +}">(Open Cached Copy)</a> </label>
		<div>
			<p> Last Modified: {+ obj.lastmod +} </p> 
			<p> Mime-Type: {+ obj.mimetype +} </p>	
			<button class="purge-button" onclick="purge('{+obj.filename+}');"> Purge </button>
		</div>
	</div>
	
</for>
