{!
    /**
     *    Template for the object cache tab in the preferences menu
     *
     */
    var cachedObjects = [];
	var filepaths = libx.io.find(/fileinfo.json/);
	for ( var i = 0; i < filepaths.length; i++ ) {
		/* get the metadata */
		var metadata = libx.utils.json.parse(libx.io.getFileText(filepaths[i]));
		cachedObjects.push ( {
			url : metadata.originURL,
			chromeurl : metadata.chromeURL,
			filename : filepaths[i],
			lastmod : metadata.lastModified,
			mimetype : metadata.mimeType
		} );
	}
!}

<script type="text/javascript">
<![CDATA[
	function purge ( filename ) {
		libx.io.removeFile ( filename );
	    refresh();	
	}
	
	function purgeAll () { 
		$(".purge-button").click();
        refresh();
	}
	
	function updateAll () {
		libx.cache.defaultObjectCache.updateRequests();
		refresh();
	}
	
	function refresh() {
		$("#objectcache-content").replaceWith( process ( null, "objectcache" ) );
	}
]]>
</script>
<div id="objectcache-content">
<button onclick="libx.cache.defaultMemoryCache.flush();">Flush Global Memory Cache</button>
<button onclick="libx.cache.defaultObjectCache.updateRequests();">Update Now!</button>
<button onclick="purgeAll();">Purge All</button>
<button onclick="refresh();">Refresh</button>
<for each="obj" in="cachedObjects">
	<div class="groupbox">
		<label> {+ obj.url +}  </label>
		<div>
			<a href="{+ obj.chromeurl +}">(Open Cached Copy)</a>
			<p> Last Modified: {+ obj.lastmod +} </p> 
			<p> Mime-Type: {+ obj.mimetype +} </p>	
			<button class="purge-button" onclick="purge('{+obj.filename+}');refresh();"> Purge </button>
		</div>
	</div>
	
</for>
</div>