{!     
     
!}
<!-- preference.tmpl -->
<if test="data._type == 'boolean'">
    <input type="checkbox" name="{+data._id+}" class="preference-checkbox" <if test="data._value">checked="checked"</if> />
    <label>{description}</label>
</if>
<if test="data._type == 'choice'">
    <div>
        <for each="item" in="data._items">
            <input type="radio" name="{+ data._id +}" value="{+ item._value +}" <if test="item._selected">checked="checked"</if> />
            <label>{L item._idstr + '-description' L}</label>
            <br/>
        </for>
    </div>
</if>