{!
    /**
     * Expected input: 
     *        data: an object representing a category object
     * Requires: 
     *    libx.getLocalizedString
    */
    
    /** Generates a unique identifier for each tab, based on the child's _id attributeb */
    function tabID ( id ) {
        return id + '-tab';
    }

     
!}
<!-- tabpanel.tmpl -->
<div>
    <ul class="tabs-ul">
        
        <!-- Create a li, containing the tab name for each tab -->
        <for each="child" in="data._children">            
            <li>
                <a href="#{+ tabID ( child._id ) +}">
                    <span>{+ prefsBundle.getProperty ( child._idstr + "-tabname", child._name ) +}</span>
                </a>
            </li>
        </for>
        
    </ul>
    
    <!-- Create a div for the content of each tab -->
    <for each="child" in="data._children">
        <div id="{+ tabID ( child._id ) +}">
            {+ process ( child ) +}
        </div>    
    </for>

</div>