ul.checktree, ul.checktree * {
	list-style-type: none;
	margin: 0;
	padding: 0 0 5px 0;
}
ul.checktree img.arrow {
	padding: 2px 0 0 0;
	border: 0;
	width: 20px;
}
ul.checktree li {
	padding: 4px 0 0 0;
}
ul.checktree li ul {
	padding: 0 0 0 20px;
	margin: 0;
}
ul.checktree label {
	cursor: pointer;
	font-weight: bold;
	padding: 2px 0;
}
ul.checktree label.hover {
	color: red;
}

ul.checktree label.selected {
    color:green;
}

p {
	margin: 5px 15px;
}
ul {
	margin-top: 5px;
	margin-bottom: 5px;
}
ul.checktree li .arrow {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	float: left;
	background: transparent no-repeat 0 4px;
}
ul.checktree li .collapsed {
	background-image: url(collapsed.gif);
}
ul.checktree li .expanded {
	background-image: url(expanded.gif);
}

ul.checktree li .checkbox, ul.checktree li .uncheckable {
	width: 20px;
	height: 18px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	float: left;
	background: url(check0.gif) no-repeat 0 0px;
}
ul.checktree li .checked {
	background-image: url(check2.gif);
}
ul.checktree li .half_checked {
	background-image: url(check1.gif);
}
ul.checktree li .uncheckable {
	background-image: url(check3.gif);
}

li .bullet-point {
    width: 20px;
    height: 14px;
    padding: 0;
    margin: 0;
    float: left;  
    background: url(bullet.gif) 0 0px;
}
